# Base URL
BASE_URL = 

NEXT_DISABLE_ESLINT=

NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_N8N_URL=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=

NEXT_PUBLIC_STRIPE_PK=
